{{! /game/:id }}

  <div class="gameDisplay">
    <img src={{img}} alt={{name}} class="picDisplay" />
    <h3 class="dis title">{{name}}</h3>
    <h5 class="dis title">Rated {{rating}} out of 5</h5>
    <h5 class="dis title">Play on {{platforms}} now</h5>
  </div>

  <form class="commentForm">
      <input type="text" class="userTitle" id="userTitle" placeholder="comment title">
      <input type="text" class="userReview" id="userReview" placeholder="Please leave a review">
      <button id="submitBtn">Submit</button>
  </form>

  <div class="userComments" id="userComments">
    
      {{#each commentTry as |comment|}}
       <div class="commentblock">
           
          <div>{{commentTitle}}</div>
          <div>
           <p>{{commentContent}}</p>
          </div>
           <div>{{dateCreated}}</div>
           
       </div>
      {{/each}}
  </div>

  

