<section class="topResults">

  <h2>Top Rated Games</h2>

  <div class="cardContainer">
{{!-- {{#cap games}} --}}
{{#each games as |game|}}

  <a href='/game/{{id}}'>

    <div class="card">
      <img src={{img}} alt={{name}} class="gamePic">
      <p>{{name}}</p>
      <div class="rating">Rated {{rating}} out of 5</div>
      <div class="plats">{{platforms}}</div>
    </div>
  </a>
{{/each}}
{{!-- {{/cap}} --}}

  </div>
</section>


    <section class="spacing">
        {{!-- <div class="searchbar">
            <input type="text" class="searchtype" id="search" placeholder="search a title"> <button class="searchButton">🤖</button>
        </div> --}}
    </section>