{{#if pcTry}}
  <h1 class="title console">PC</h1>
  <div class="cardContainer">
    {{#each pcTry}}
      <div class="card">
        <img src={{img}} alt={{name}} class="gamePic" />
        <p>{{name}}</p>
        <div class="rating">Rated {{rating}} out of 5</div>
        <div class="plats">{{platforms}}</div>
      </div>
    {{/each}}
  </div>
{{/if}}

{{#if psTry}}
  <h1 class="title console">PlayStation</h1>
  <div class="cardContainer">
    {{#each psTry}}
      <div class="card">
        <img src={{img}} alt={{name}} class="gamePic" />
        <p>{{name}}</p>
        <div class="rating">Rated {{rating}} out of 5</div>
        <div class="plats">{{platforms}}</div>
      </div>
    {{/each}}
  </div>
{{/if}}

{{#if xboxTry}}
  <h1 class="title console">XBox</h1>
  <div class="cardContainer">
    {{#each xboxTry}}
      <div class="card">
        <img src={{img}} alt={{name}} class="gamePic" />
        <p>{{name}}</p>
        <div class="rating">Rated {{rating}} out of 5</div>
        <div class="plats">{{platforms}}</div>
      </div>
    {{/each}}
  </div>
{{/if}}

{{#if nintendoTry}}
  <h1 class="title console"> Nintendo</h1>
  <div class="cardContainer">
    {{#each nintendoTry}}
      <div class="card">
        <img src={{img}} alt={{name}} class="gamePic" />
        <p>{{name}}</p>
        <div class="rating">Rated {{rating}} out of 5</div>
        <div class="plats">{{platforms}}</div>
      </div>
    {{/each}}
  </div>
{{/if}}